/* 
    font-family: "Poppins", sans-serif;
    font-family: "Noto Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Nunito", sans-serif;
    font-family: "Quicksand", sans-serif;
    font-family: "Ubuntu", sans-serif;
    font-family: "Texturina", sans-serif;
*/

/* Reset CSS */
*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color:#000;
    font-family: "Poppins", sans-serif;
}

// Custom CSS
body{
    width: 100%;
    min-height: 100vh;
    
    .topBar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: var(--topBar);
        box-shadow:  0 0 25px var(--topBar);

        .logo{
            margin-top: -10px;
            font-size: 32px;
            font-family: "Texturina", sans-serif;
        }

        ul.menu, .left{
            text-transform: uppercase;
            height: 60px;
            display: flex;
            align-items: center;
            gap: 25px;
            margin-left: 15px;
            
            li{
                height: 60px;
                display: flex;
                align-items: center;

                a{
                    height: 60px;
                    display: flex;
                    align-items: center;
                    border-bottom: 3px solid var(--topBar);
                    transition: 100ms;

                    &.menu.active, &.menu:hover{
                        border-bottom: 3px solid #fff;
                    }
                }
            }
        }

        .right{
            height: 50px;
            display: flex;
            align-items: center;
            gap: 25px;
            margin-right: 15px;

            form{
                display: flex;
                gap: 10px;
                align-items: center;
                
                input{
                    width: 275px;
                    height: 50px;
                    background: transparent;
                    border: none;
                    outline: none;
                    color:#fff;
                    padding-left: 10px;
                    margin-top: 10px;
                    border-bottom: 2px solid var(--topBar);
                    transition: 250ms;

                    &:hover{
                        border-bottom: 2px solid #fff;
                    }
                }

                button{
                    width: 50px;
                    height: 50px;
                    background: transparent;
                    margin-top: 15px;
                    border: none;

                    i{
                        color:#fff;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }
            }
        }
        a{
            color:#fff;

            i{
                color: #fff;
            }
        }
    }
    
    .leftMenu{
        position: absolute;
        top:0;
        z-index: 100;
        left: -300px;
        padding: 15px;
        width: 300px;
        min-height: 100vh;
        background: #fff;
        box-shadow: 0 0 10px #000;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        transition: 250ms;

        .l{
            display: flex;
            justify-content: space-between;
            
            a{
                margin-top: -10px;
                font-size: 28px;
                font-family: "Texturina", sans-serif;   

                &:hover{
                    background: #fff;
                    font-weight: 500;
                }
            }

            i{
                cursor: pointer;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        li{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            display: flex;

            a{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                transition: 250ms;
                color: #000000BB;
                font-weight: 500;

                i{
                    margin-right: 10px;
                }

                &.active{
                    background: rgba(0,0,97,0.2);
                    font-weight: 800;
                    i{
                        color: rgb(0, 0, 97);
                    }
                }
                &:hover{
                    background: rgba(0,0,97,0.2);
                    font-weight: 800;
                }
            }
        }

        .ara{
            width: 100%;
            height: 0;
            overflow:hidden;

            form{
                width:100%;

                input{
                    width: 200px;
                    height:40px;
                    border: none;
                    border-bottom: 2px solid #aaa;
                    outline: none;
                    padding-left: 15px;
                }

                button{
                    width:40px;
                    height:40px;
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }

        .sosyal{
            display: flex;
            gap: 25px;

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                box-shadow: 0 0 20px #000;
            }
        }
    }

    .reklamAlani{
        margin: auto;
        border: 1px solid #ccc;
        width: 1024px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: 300;
        }
    }

    .disabled{
        display:none;
    }

    div.yeniHaberler{
        margin: 10px 0;
        div.news{
            width: 100%;
            aspect-ratio: 3/2;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    .haberAkisi{
        width: 1100px;
        margin: 50px auto;
        display: flex;

        .left{
            
            .haber{
                width: 800px;
                padding: 10px;
                margin-bottom: 25px;
                display: flex;
                gap: 10px;
                border-radius: 10px;
                box-shadow: 0 0 10px #999;
                transition: 250ms;

                &:hover{
                    box-shadow: 0 0 15px #333;
                    border-radius: 20px;
                }

                a.resim{
                    width: 250px;
                    height: 175px;
                    display: flex;
                    border: 1px solid #ccc;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                }

                .icerik{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 750px;

                    .top{
                        padding: 5px;
                        display: flex;
                        justify-content: space-between;

                        .kategori, .zaman{
                            color: #aaa;
                            font-weight: 600;
                            text-transform: uppercase;
                            font-size: 12px;
                            transition: 250ms;
                        }

                        .kategori:hover, .zaman:hover{
                            color: #777;
                        }
                    }

                    .center{
                        padding: 5px;
                        display: flex;

                        .baslik{
                            font-size: 18px;
                            font-weight: bold;
                            transition: 250ms;

                            &:hover{
                                color: #212f3d;
                            }
                        }
                    }

                    .bottom{
                        padding: 5px;
                        display: flex;

                        .kullanici, .kullanici i{
                            color: #aaa;
                            font-weight: 700;
                            text-transform: uppercase;
                            transition: 250ms;
                        }
                        
                        .kullanici:hover, .kullanici i:hover{
                            color: #777;
                        }
                    }
                }
            }

            a.dahaFazla{
                display: block;
                margin: auto;
                border: 1px solid #212f3d;
                border-radius: 5px;
                color: #212f3d;
                width: 250px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 250ms;

                &:hover{
                    background: #212f3d;
                    color:#fff;
                }
            }
        }

        .right{
            margin-left: 15px;
            width: 300px;

            .reklam{
                width: 300px;
                height: 600px;
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .enCok{
                width: 300px;
                margin-top: 25px;

                .border{
                    border-radius: 10px;
                    box-shadow: 0 0 10px #555;
                    transition: 250ms;

                    &:hover{
                        box-shadow: 0 0 20px #000;
                    }
                }

                .icerik{
                    width: 300px;
                    display: flex;
                    gap: 10px;
                    margin-bottom: 15px;
                    transition: 250ms;

                    .resim{
                        width: 125px;
                        height: 100px;
                        border: 1px solid #ccc;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        p{
                            text-align: center;
                        }

                        .sira1, .sira2, .sira3, .sira{
                            border-top-left-radius: 10px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 25px;
                            height: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .sira1{
                            background: gold;
                        }

                        .sira2{
                            background: silver;
                        }

                        .sira3{
                            background: brown;
                        }

                        .sira{
                            background: green;
                        }
                    }

                    .icerik{
                        display: flex;
                        flex-direction: column;

                        .metin{
                            font-size: 14px;
                            font-weight: 700;
                            transition: 250ms;

                            &:hover{
                                color: #212f3d;
                            }
                        }

                        .adet{
                            font-size: 14px;
                            color: #bbb;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1100px){
    .mobil{
        width: 0;
        overflow: hidden;
    }

    .topBar{
        justify-content: flex-start;

        .right{

            .aramaYap{
                display: none;
            }
        }
    }

    .leftMenu li.ara{
        height: 50px;
    }

    div.reklamAlani{
        width: 0;
        height: 0;
        border: none;
        overflow: hidden;
    }

    .haberAkisi .left{
        margin-left: 15px;
    }

    .haberAkisi .right{
        display: none;
    }
}